*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

.bar{
    background-color: lime;
    padding: 30px;
    width: auto;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    top: 0;
    display: block;
}

ul{
    list-style-type: none;
    float: right;
    overflow: hidden;
    display:inline-block;
    font-family: Arial;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: gainsboro;
    overflow: hidden;
    display: block;
    font-family: Arial;
    font-size: 24px;
    padding-bottom: 25px;
}

body{
    background-image: url("images/img_1.png");
    font-family: Bahnschrift;
}

.info{
    float: right;
    color: gainsboro;
    background-color: rgba(0,0,128,0.5);
    margin-top: 5em;
    padding: 2em;
    font-size: 1.3em;
}

button{
    border: none;
    background-color: lime;
    padding: 16px 32px;
    text-decoration: none;
    display: block;
    margin: 10px auto;
    transition-duration: 0.4s;
    border-radius: 12px;
    width: 50%;
}

button:hover{
    background-color: white;
}